@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

body,html {
    width: 100%;
    height: 100%;
}
/* 

html {
    visibility: hidden;
} */



* {
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

body {
    display: none;
    place-items: center;
    background-image: url(https://www.gamespot.com/a/uploads/original/1535/15354745/2829459-3693134841-);
    background-size: cover;
}

.loginpanel {
    width: 400px;
    height: 270px;
    background: rgba(0, 0, 0, 0.579);
    border-radius: 5px;
    overflow: hidden;
}

.header {
    font-size: 25px;
    color: snow;
    background: rgba(69, 133, 37, 0.994);
    text-align: center;
}

.username {
    position: absolute;
    left: 50%;
    top: 47%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.531);
    color: snow;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
}

.password {
    position: absolute;
    left: 50%;
    top: 54%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.531);
    color: snow;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
}

.login {
    position: absolute;
    left: 45%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(117, 230, 4, 0.531);
    color: snow;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
}

.register {
    position: absolute;
    left: 55%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(117, 230, 4, 0.531);
    color: snow;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
}

.ldvr {
    position: relative;
    width: 50px;
    border-radius: 40px;
    left: 85%;
    bottom: -3%;
    opacity: 70%;
}